div {
    font-family:Copperplate Gothic Bold; 
    text-align: center;
        }
p {
    text-align: center;
        }
th class {
    font-size: larger;
    text-align: center;  
        }
td {
    font-family:Arial; 
    text-align:center;  
}
a  {
    color:blue;
    font-family:Copperplate Gothic;
    font-weight:none;
    text-decoration:underline;   
      }
a:visited {
    color:green;
      }
a:hover {
    font-weight:bold;
      }
a:active {
    text-decoration:none;
      }
.body {
    background-color: #32AEE7;
      }
.carousel-content {
    color:black;
    display: flex;
    align-items:center;
      }
#text-carousel {
    width: 100%;
    height: auto;
    padding: 50px;
      }
      